body {
	background-color: #F0F0F0;
	font-family: 'Roboto Mono';
	font-size: 1.2em;
	color: #242424;

	padding: 20%;
}

.introduction {

}

.about {

}

.socials {
	padding: 10px;
}

#name {
	color: #000000;
	font-size: 1.2em;
}

a {
	color: #242424;
}